@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  max-height: 100vh;
  background-image: url("https://images8.alphacoders.com/485/485354.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.786);
}

.header-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.header-links a {
  color: white;
  text-decoration: none;
}

.icons-logo {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
}

.header-icons {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding-right: 50px;
}

.header-icons i {
  color: white;
}

.logo-header {
  display: flex;
}
.logo-header img {
  height: 150px;
}

.additional-header-info {
  display: flex;
  width: 100%;
  height: 785px;
}

.discover-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 10px;
  color: white;
  /* border: 2px blue solid; */
}

.discover-message input {
  background-color: cornflowerblue;
  color: white;
  width: 300px;
  height: 50px;
  border: none;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1400px;
  border: 2px red solid;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 1400px;
  height: 700px;
  /* border: 2px green solid; */
}

.first-category {
  margin-top: 10px;
}

.first-category input {
  background-color: white;
  width: 70px;
  height: 40px;
  border: none;
  color: grey;
  font-size: 20px;
  border-bottom: 3px lightgrey solid;
  /* border: 2px red solid; */
}

.subcategories {
  margin-top: 40px;
}

.subcategories input {
  margin: -2px;
  background-color: white;
  width: 140px;
  height: 40px;
  padding-bottom: 40px;
  color: grey;
  font-size: 20px;
  border: none;
  border-bottom: 3px lightgrey solid;
}

.subcategories input:nth-child(1) {
  color: black;
  font-size: 25px;
  font-weight: bold;
  width: 140px;
  height: 40px;
  padding-bottom: 44px;
  border: none;
  border-bottom: 3px dodgerblue solid;
}

.table-box {
  display: flex;
  height: 700px;
  width: 1300px;
  /* border: 3px red solid; */
}

.table-box-cars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  height: 600px;
  /* border: 3px blue solid; */
}

.cars-cards {
  margin-right: 80px;
  height: 260px;
  width: 240px;
  /* border: 3px red solid; */
}

.cars-cards p {
  margin-top: -10px;
}
.cars-cards p:nth-child(2) {
  font-weight: bold;
}

.cars-cards p:nth-child(3) {
  color: grey;
}

.cars-cards img {
  height: 160px;
}

.additional-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  width: 1400px;
  border: 3px red solid;
}

.additional-images-cards {
  margin-top: 0;
  margin-right: 70px;
  height: 400px;
  width: 270px;
  /* border: 3px red solid; */
}

.additional-images-cards img {
  height: 150px;
  background-position: center;
}

.additional-images-cards p:nth-child(2) {
  font-size: 30px;
}

.additional-images-cards p:nth-child(3) {
  font-size: 14px;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: lightgray;
  border: 3px solid red;
}

.aside-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  flex-direction: row;
  height: 280px;
  padding-top: 10px;
  border-top: 2px solid grey;
  border: 2px red solid;
}

.aside-container-tables li{
  margin-right: 90px;
  line-height: 30px;
  list-style:none;
  font-size: 12px;
  
}
