@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  max-height: 100vh;
  background-image: url("https://images8.alphacoders.com/485/485354.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.786);
}

.header-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.header-links a {
  color: white;
  text-decoration: none;
}

.icons-logo {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
}

.header-icons {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding-right: 50px;
}

.header-icons i {
  color: white;
}

.logo-header {
  display: flex;
}
.logo-header img {
  height: 150px;
}

.additional-header-info {
  display: flex;
  width: 100%;
  height: 785px;
}

.discover-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 10px;
  color: white;
  /* border: 2px blue solid; */
}

.discover-message input {
  background-color: cornflowerblue;
  color: white;
  width: 300px;
  height: 50px;
  border: none;
}

main {
  display: flex;
  justify-content: center;
  height: 2000px;
  border: 2px red solid;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 1400px;
  height: 800px;
  border: 2px green solid;
}

.first-category {
  margin-top: 20px;
}
.first-category input {
  background-color: white;
  width: 70px;
  height: 40px;
  border: none;
  color: grey;
  font-size: 20px;
  border-bottom: 3px lightgrey solid;
  /* border: 2px red solid; */
}

.subcategories {
  margin-top: 40px;
}

.subcategories input {
  margin: -2px;
  background-color: white;
  width: 140px;
  height: 40px;
  padding-bottom: 40px;
  color: grey;
  font-size: 20px;
  border: none;
  border-bottom: 3px lightgrey solid;
}

.subcategories input:nth-child(1) {
  color: black;
  font-size: 25px;
  font-weight: bold;
  width: 140px;
  height: 40px;
  padding-bottom: 44px;
  border: none;
  border-bottom: 3px dodgerblue solid;
}

.table-box {
  height: 600px;
  width: 1200px;
  border: 3px red solid;
}

.table-box-cars {
  width: 1100px;
  height: 500px;
  border: 3px blue solid;
}

.cars-cards {
  border: 3px red solid;
}

.cars-cards p:nth-child(3){
  color: grey;
}

.cars-cards img {
  height: 160px;
}
